.sidebar-container{
    display: flex;
    list-style: none;
}

main{
    width: 100%;
    background-color: #fff;
}

.sidebar{
    background: #0C0E1F;
    color: #fff;
    height: 100vh;
    width: 350px;
    padding-left: 50px;
}

.top_section{
    display: flex;
    align-items: center;
    padding: 40px 15px;
}

.logo-link{
    font-family: 'Comfortaa', cursive;
    color: #fff;
}

.link-dom{
    display: flex;
    padding: 20px 15px;
    gap: 15px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}