.heading-sub{
    font-weight: 400;
    font-size: 1rem;
    margin: 8px 0;
}

.search{
    width: 85%;
    height: 46px;
    border: none;
    padding: 2px 20px;
    margin-left: 18px;
    margin-bottom: 10px;
    border-radius: 23px;
    background-color: rgba(217, 217, 217, 0.7);
}