.parent-div{
    height: 85%;
    margin: 20px 50px 0 50px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 0 0 20px;
}

.headers h3{
    display: inline;
    width: 300px;
    font-size: 24px;
    font-weight: 600;
}

.buttons-div{
    float: right;
}

button{
    margin: 0 20px;
    cursor: pointer;
}

.button-1{
    border-radius: 20px;
    padding: 5px;
    width: 50px;
    border: 1px;
}

.button-2{
    background-color: #3457CC;
    color: #fff;
    border-radius: 22px;
    padding: 7px 20px 7px 10px;
    border: 1px solid;
    font-size: 20px;
}

.button-2 span{
    margin-right: 6px;
    position: relative;
    bottom: -4px;
}

.button-3{
    color: rgba(0, 0, 0, 0.3);
    border-radius: 22px;
    padding: 7px 10px 7px 10px;
    border: 1px solid #3457CC;
    font-size: 20px;
    background-color: transparent;
}

.button-3 span{
    margin-right: 6px;
    position: relative;
    bottom: -4px;
}

.button-4{
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 18px;
    background-color: transparent;
    padding: 5px;
    width: 40px;
}

.infobox{
    width: 96%;
    background-color: rgba(235, 237, 255, 1);
    border-radius: 38px;
    height: 48px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 0.8em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}

.infobox div{
    margin: 0 10px;
}